* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #030B10;
}

.header{
    background-color: #111111;
    width: 100%;

    border-bottom: 2px solid #1A1A1A;
}
.campeoes{
    color: #f9f9f9;
    display: inline-block;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #111111;
    padding-bottom: 25px;
    padding-top: 26px;
    margin-left: 30px;
}
.campeoes:hover{
    border-bottom: 2px solid #0BC4E2;
    cursor: pointer;
}

.champions-grid{
    position:absolute;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 110px));
    column-gap:  5px;
    row-gap:  10px;
}

.square-champ{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}
.square-skin{
    opacity: 0.9;
    border: 3px solid #1D2227;
    width: 190px;
    height: 340px;
    object-fit: cover;
    object-position: center;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.square-skin:focus{
    opacity: 1;
    border: 4px solid #4CAF50;
    width: 190px;
    height: 340px;
    object-fit: cover;
    object-position: center;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.usersT{
    border-radius: 6px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgb(228, 50, 50);
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}
.add{
    margin-top: 15px;
    text-transform: uppercase;
    background-color: rgb(228, 50, 50);
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.addInput{
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 450px;
    padding-left: 10px;
    padding-right: 10px;
}
.addInput::placeholder{
    color: grey;
    font-family: "FF Mark W05",Arial,sans-serif;
    font-weight: bold;
}
#match{
    margin-bottom: 50px;
    margin-top: 15px;
    text-transform: uppercase;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.userSelect{
    width: 36.8%;
    margin: auto;
}
#accountPanel{
    float: right;
    margin-right: 50px;
    margin-top: 16px;
}
#accountPanel #sair{
    margin-top: 12px;
}
.login{
    font-family: "FF Mark W05",Arial,sans-serif;
    font-size: 14px !important;
    font-weight: bold;
    background-color: transparent;
    border: none;
    color: white;
    margin-right: 15px;
}
.login:hover{
    cursor: pointer;
}
.createAccount{
    font-family: "FF Mark W05",Arial,sans-serif;
    font-size: 14px !important;
    font-weight: bold;
    background-color: #0BC4E2;
    border: none;
    color: white;
    margin-right: 15px;
    padding: 10px;
    border-radius: 5px;
}
.createAccount:hover{
    cursor: pointer;
}
#sair{
    font-family: "FF Mark W05",Arial,sans-serif;
    font-size: 14px !important;
    font-weight: bold;
    background-color: transparent;
    border: none;
    color: white;
    margin-right: 15px;
}
#sair:hover{
    cursor: pointer;
}
.logo{
    color: white;
    margin-left: 50px;
    font-family: "FF Mark W05",Arial,sans-serif;
    font-size: 18px !important;
    font-weight: bold;
    padding-right: 30px;
    border-right: 1px solid white;
}
#userName{
    font-family: "FF Mark W05",Arial,sans-serif;
    font-size: 14px !important;
    font-weight: bold;
    background-color: transparent;
    border: none;
    color: white;
    margin-right: 15px;
}
#busca{
    color: white;
    
    padding-top: 5px;
    padding-bottom: 5px;
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    border-color: #765827;
    background-color: #000407;
}
::placeholder{
    color: white;
}
.skins-handler{
    width: 62.8%;
    margin: auto;
}
.searchPanel{
    margin-left: 80px;
}
#usersInTeam{
    width: 62.8%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.skinsOf{
    color: white;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: "FF Mark W05",Arial,sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
.square-skin-compared{
    opacity: 0.9;
    border: 2px solid #765827;
    width: 95px;
    height: 170px;
    object-fit: cover;
    object-position: center;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}